@model EntityLayer.Concrete.Blog;

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>BlogAddPage</h2>

@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    @Html.Label("Blog Title")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Content")
    @Html.TextBoxFor(x => x.BlogContent, new { @class = "form-control" })
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new  {@class = "form-control" });
    <br />
    @Html.Label("Blog Image")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    <button class="bt btn-info">Save</button>



}
